<div class="container">
	<div>
		<tabset justified="true">
			<tab select="selectTab('general')">
      			<tab-heading><i class="glyphicon glyphicon-th-large"></i> General</tab-heading>
      			<div ui-view="general"></div>
    		</tab>
    		<tab select="selectTab('search')">
      			<tab-heading><i class="glyphicon glyphicon-search"></i> Search</tab-heading>
      			<div ui-view="search"></div>
    		</tab>
        <tab select="selectTab('apexclass')">
            <tab-heading><i class="glyphicon glyphicon-search"></i> Apex Class</tab-heading>
            <div ui-view="apexclass"></div>
        </tab>
	    	<tab select="selectTab('email')">
      			<tab-heading><i class="glyphicon glyphicon-envelope"></i> Email</tab-heading>
      			<div ui-view="email"></div>
    		</tab>
	  	</tabset>
	</div>
</div>
<div class="container form-submit-div">
  <hr>
  <div class="alert alert-success" ng-hide="kombucha.data.alert" role="alert">Success</div>
  <button class="btn btn-success btn-lg btn-block" ng-click="save()" ng-disabled="canSubmit()" ng-hide="!kombucha.data.editMode">SAVE</button>
  <button class="btn btn-success btn-lg btn-block" ng-click="kombucha.data.editMode = !kombucha.data.editMode;" ng-hide="kombucha.data.editMode;">EDIT</button>
</div>
