<div class="tabContent">
	<form name='generalForm' class="form-horizontal" novalidate>
		<div ng-init="generalFormObj=form"></div>
		<div class="well well-sm"><p>Username and password will be used to retrieve a valid SessionId which will be used in an asynchronous future job to call Tooling API (We can't simply use UserInfo.getSessionId() here since the job is run in System mode).</p> <p><strong>We will NOT store your username and password outside this app or use them in other places.</strong></p></div>

		<div class="form-group" ng-class="{'has-error' : generalForm.username.$invalid}">
			<label class="col-sm-2 control-label">Username</label>
	        <div class="col-sm-10">
				<input type="text" name='username' ng-model="kombucha.data.generalFormData.username" class="form-control"
			        	placeholder=""
			          	tooltip="This is a required field, and maximum length is 80 characters."
			          	tooltip-placement="top"
			          	tooltip-trigger="mouseenter"
			          	tooltip-enable="generalForm.username.$invalid"
					  	required 
					  	ng-maxlength="80"
					  	ng-readonly="!kombucha.data.editMode"/>
		    </div>        
	    </div>
	    <div class="form-group" ng-class="{'has-error' : generalForm.password.$invalid}">
	        <label class="col-sm-2 control-label">Password</label>
	        <div class="col-sm-10">
				<input type="text" name='password' ng-model="kombucha.data.generalFormData.password" class="form-control"
			        	placeholder=""
			          	tooltip="This is a required field, and maximum length is 80 characters."
			          	tooltip-placement="top"
			          	tooltip-trigger="mouseenter"
			          	tooltip-enable="generalForm.password.$invalid"
					  	required 
					  	ng-maxlength="80"
					  	ng-readonly="!kombucha.data.editMode"/>
		    </div>        
	    </div>
	    <div class="form-group" ng-class="{'has-error' : generalForm.securitycode.$invalid}">
	        <label class="col-sm-2 control-label">Security Code</label>
	        <div class="col-sm-10">
				<input type="text" name='securitycode' ng-model="kombucha.data.generalFormData.securitycode" class="form-control"
			        	placeholder=""
			          	tooltip="This is a required field, and maximum length is 80 characters."
			          	tooltip-placement="top"
			          	tooltip-trigger="mouseenter"
			          	tooltip-enable="generalForm.securitycode.$invalid"
					  	required 
					  	ng-maxlength="80"
					  	ng-readonly="!kombucha.data.editMode"/>
		    </div>        
	    </div>
	</form>
</div>