<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">  
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>  
      <a ui-sref="home"><img src="img/logo.png" /></a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': selectedTab == 'home' }" ng-click="selectTab('home')"><a ui-sref="home">HOME</a></li>
        <li ng-class="{ 'active': selectedTab == 'settings' }" ng-click="selectTab('settings')"}><a ui-sref=".settings.general">SETTINGS</a></li>
        <li ng-class="{ 'active': selectedTab == 'analytics' }" ng-click="selectTab('analytics')"}><a ui-sref=".analytics">ANALYTICS</a></li>
      </ul>
      <!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../navbar/">Default</a></li>
      </ul>
      -->
    </div><!--/.nav-collapse -->

  </div><!--/.container -->
</div>
